html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}
ul {
  list-style: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

a:visited {
  color:gray;
  text-decoration: none;
}
a:link {
  color:gray;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
h1,h2,h3,h4 {

}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




/* common */
.title { font-size: 32px; text-align: center; margin-bottom: 50px;}
.capstecText { font-size: 51px; font-weight: bold; color:#005BB4}

/* header */
.containerH
{
  width: 100%; min-width: 1300px;
  display:flex; align-items: center; position: relative; justify-content: space-between;
  padding: 10px 0px; border-bottom: 1px solid #dfdfdf;
  position: fixed;
  background-color: #fff;
  z-index: 11;
}
.logo { margin-right: 20px; display: flex; margin-left: 40px;}
.pageName { font-size: 18px; position: absolute; left: 230px; top: 29px;} 
.pageName h1 { font-weight: normal;}
.pageName::before{ content: ""; width: 1px; height: 15px; background-color: #9e9e9e; position: absolute; margin-left: -20px; top: 2px;}
.headerNav { display: flex; margin-right: 40px; width: 636px; font-size: 18px; justify-content: space-between;}
.headerNav a { font-weight: 300;}
.headerNav a:hover { font-weight: 500; color:#005BB4 }
.headerNav a::after { content: ""; display: block; width: 0px; border: 1px solid white; margin-top: 10px; transition: 0.5s}
.headerNav a:hover::after { display: block; width: 100%; border: 1px solid #005BB4; transition: 0.3s;}

/* main */
main { padding-top: 80px;}
.containerM
{
  width: 100%; min-width: 1300px; position: relative;
}
.movingNav {
  width: 80px; height: 80px; background-color: #1A87F2; 
  position: fixed; top: 300px; left: 50%; margin-left: 690px; text-align: center;
  line-height: 80px; color: #fff; z-index: 13;
}
.topBar {
  color:#000; font-size: 20px; transition:1s;
  cursor:pointer; background-color: #fff;
}
.hidden {
  display: none;  transition:1s
}
.pageTitle { text-align: center; padding:80px 0px; font-size:40px; font-weight: bold;}
.pageTitle h2:nth-child(2) { font-size: 18px; font-weight: normal; margin-top: 10px; color:#868686;}
.articles { display: flex; justify-content: center; height: 50px; align-items: center;}
.articleList { width: 100%; z-index: 11; top:78px; background-color: #fff; }
.articleList.active {position: fixed; border-bottom:1px solid#dfdfdf;}
.articles li { margin: 0px 20px; font-size: 18px; font-weight: 500; cursor: pointer;}
.articles li { overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.articles li:hover { color:#005BB4;}
.articles li.active { color:#000;  transition:0.5s}
.articles li.active::after{ content:""; display:block; width:100%; border: 1px solid #000; margin-top: 10px; transition:0.5s} 
.articles li::after { content:""; display:block; width:0px; border: 1px solid #fff; margin-top: 10px; transition:0.5s}
.articles li:hover::after { display:block; width:100%; border: 1px solid #005BB4; transition: 0.3s;}

/* article class="introduction" */
.containerI
{
  width:1260px; margin:0 auto; padding: 65px 0px 0px 0px;
  position: relative;
}
.introductionContents { width:100%; height: 650px; }
.introductionText { padding: 70px 80px; position:absolute; background-color: #fff; z-index: 10; top:220px; }
.capstecSubText { margin-top: 40px; line-height: 40px; font-size: 25px; }
.capstecInfoText { margin-top: 20px; line-height: 28px; font-size: 17px;}
.city { width:826px; height: 520px; position: absolute; top:147px; left:432px;}


/* article class= "greeting" */
.greeting{ background-color: #F0F2F9;}
.containerG
{
  width:1200px; padding: 65px 0px 90px 0px; margin: 0 auto;
}
.greetingContents { padding-left: 230px; } 
.greetingInfoText { line-height: 30px; font-size: 17px; margin-top: 40px;}


/* article class= "vision" */
.vision{ background-color: white; height: 783px;}
.containerV
{
  width:1200px; margin: 0 auto; padding: 100px 0px 0px 0px; position: relative;
}
.logo2 { position: absolute; top: 510px; left:525px;}
.vision.title { margin-bottom: 90px; }
.decoVision { font-size: 30px; position: absolute; top:140px; left:20px; }
.decoVision::before { content:""; width: 5px; height: 25px; background-color: #005BB4; position: absolute; left:-20px; top:5px; }
.visionMain { margin-bottom: 80px; }
.visionBigBox { width: 1040px; height:450px; padding: 80px; display: flex; flex-wrap: wrap; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; background-color: white;}
.visionBox { flex:1 1 40%; display: flex; padding: 0px 0px 0px 100px;}
.visionBox:nth-child(1) { border-right:1px solid #e2e2e2;}
.visionBox:nth-child(3) { border-top:1px solid #e2e2e2; padding-top: 80px;}
.visionBox:nth-child(4) { border-top:1px solid #e2e2e2; border-left: 1px solid #e2e2e2;  padding-top: 80px;}
.visionIcon { width:80px; height:80px; margin-right: 30px;}
.visionTexts {  }
.visionBoldText { font-size:25px;  font-weight: bold; margin-bottom: 20px;}
.visionText { line-height: 25px;  font-size: 17px;}


/* article class= "values" */
.values { background-color: #F0F2F9; padding-bottom: 50px;}
.containerV2
{
  width:1200px; padding: 260px 0px 0px 0px; position: relative; margin: 0 auto;
}
.decoValue { font-size: 30px; position: absolute; top:225px; left:20px; }
.decoValue::before { content:""; width: 5px; height: 25px; background-color: #005BB4; position: absolute; left:-20px; top:5px; }
.capstecsubInfo { font-size: 19px; font-weight: 500; color: #868686;}
.valueBigBox{ display: flex; padding: 40px 0px;}
.valueBox{ flex:1; text-align: center; display: flex; flex-direction: column;}
.valueColorText { font-size: 70px; font-weight: bold; padding: 40px 0px; background-color: #fff; position: relative; margin-left: 40px; margin-right: 40px; margin-bottom: 20px; height: 80px;}
.valueColorText::after {
  content: "";
      width: 102px;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 29px solid #ffffff;
      border-left: 29px solid #F0F2F9;
      border-right: 29px solid #F0F2F9;
}
.valueColorText::before {content: "";
  width: 102px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 29px solid #fff;
  border-left: 29px solid #F0F2F9;
  border-right: 29px solid #F0F2F9; }
.valueBoldText { font-size:25px; font-weight: 600; margin-bottom: 15px;}
.valueText { font-size:18px; color: #868686; margin-bottom: 15px;}
.valueLightText {font-weight: lighter; line-height: 24px; font-size: 15px;}
.Y { color:#FFAE16 }
.R { color: #F43849}
.G { color: #048346}
.B { color: #005BB4}
.O { color: #FF7515}


/* article class= "history" */
.history 
{
  margin-bottom: 70px; position: relative;
}
.containerS
{
  width:1200px; padding: 65px 0px 0px 0px; margin: 0 auto;
  position: relative;
}
.history.title { padding-top: 40px; padding-bottom: 280px; }
.historyPhoto { width:1585px; height: 240px; position: absolute; right: -25px; top:-267px;}
.cops{ width:1590px;}
.lastYear{
  position: absolute; width: 175px; height:175px;
  top :-135px; left: 90px; background-color: #005BB4;
  font-size: 45px; font-weight: bold; line-height: 175px; text-align: center; color:#fff
}
.capstecYears { display: flex; padding-left: 170px; padding-top: 20px;}
.rightsection {width: 100%; height: 100%;  padding-left: 30px; padding-top: 10px;}
.yearHistory { margin-bottom: 50px; position: relative;}
.yearHistory::before { content: ""; position: absolute; width: 10px; height:10px; background-color: #c0cad4; left: 124px; top:10px; border-radius: 50%;}
.yearHistory::before:nth-child(1) { background-color: #005BB4;}
.rightsection li { line-height: 25px; font-size: 17px;}
.years::before { content: ""; height: 1855px; width: 1px; background-color: #c0cad4; position: absolute; left:330px; }
.yearTitle span{ font-size: 38px; position: absolute; left: 180px; font-weight: bold; color:#c0cad4; }
.rightsection ul li ul li{ padding-left: 60px;}
.rightsection ul li ul li::before { content:"·"; margin-right: 10px; padding-left: 100px;}

.decoImage1 { 
  font-size: 70px; font-weight: bold; padding: 40px 0px; background-color: #005BB4; width:282px;
  position: absolute; margin-left: 40px; margin-right: 40px; margin-bottom: 20px; height: 220px;
  top:730px; right:0%; transition: 3s;
}
.decoImage1.move {
  top:780px; transition: 3s;
}
.decoImage1::after {
  content: "";
  width: 122px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 78px solid #005BB4;
  border-left: 80px solid #fff;
  border-right: 80px solid #fff;
}
.decoImage1::before {content: "";
  width: 122px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 78px solid #005BB4;
  border-left: 80px solid #fff;
  border-right: 80px solid #fff; 
}

  .decoImage2 { 
    font-size: 70px; font-weight: bold; padding: 40px 0px; background-color: #FF7311; width:112px;
    position: absolute; margin-left: 40px; margin-right: 40px; margin-bottom: 20px; height: 36px;
    top:1398px; right:15%; transition: 3s;
  }

  .decoImage2.move {
    top:1360px; transition: 3s;
  }
  .decoImage2::after 
  {
    content: "";
    width: 54px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 32px solid #FF7311;
    border-left: 29px solid #fff;
    border-right: 29px solid #fff;
  }
  .decoImage2::before {content: "";
    width: 54px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 32px solid #FF7311;
    border-left: 29px solid #fff;
    border-right: 29px solid #fff; }
  
  
  .decoImage3 { 
    font-size: 70px; font-weight: bold; padding: 40px 0px; background-color: #1A87F2; width:174px;
    position: absolute; margin-left: 40px; margin-right: 40px; margin-bottom: 20px; height: 94px;
    top:1140px; right:-2%; transition: 3s;
  }
  .decoImage3.move {
    top:1200px; transition: 3s;
  }
  .decoImage3::after {
    content: "";
    width: 81px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 46px solid #1A87F2;
    border-left: 47px solid #fff;
    border-right: 47px solid #fff;
  }
  .decoImage3::before {
    content: "";
    width: 81px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 46px solid #1A87F2;
    border-left: 47px solid #fff;
    border-right: 47px solid #fff; 
  }

  .decoImage4 { 
    font-size: 70px; font-weight: bold; padding: 40px 0px; background-color: #1A87F2; width:174px;
    position: absolute; margin-left: 40px; margin-right: 40px; margin-bottom: 20px; height: 94px;
    top:1840px; left:-5%; transition: 3s;
  }
  .decoImage4.move {
    top:1900px; transition: 3s;
  }
  .decoImage4::after {
    content: "";
    width: 81px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 46px solid #1A87F2;
    border-left: 47px solid #fff;
    border-right: 47px solid #fff;
  }
  .decoImage4::before {
    content: "";
    width: 81px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 46px solid #1A87F2;
    border-left: 47px solid #fff;
    border-right: 47px solid #fff; 
  }

  .decoImage5 { 
    font-size: 70px; font-weight: bold; padding: 40px 0px; background-color: #FF7311; width:106px;
    position: absolute; margin-left: 40px; margin-right: 40px; margin-bottom: 20px; height: 30px;
    top:1680px; left:5%;  transition: 3s;
  }

  .decoImage5.move {
    top:1610px; transition: 3s;
  }
  .decoImage5::after {
    content: "";
    width: 54px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid #FF7311;
    border-left: 26px solid #fff;
    border-right: 26px solid #fff;
  }
  .decoImage5::before {
    content: "";
    width: 54px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid #FF7311;
    border-left: 26px solid #fff;
    border-right: 26px solid #fff; 
  }


/* footer */
.containerF { width:100%; background-color: #000; }
.miniContainer1 { width: 1200px; display:flex; margin: 0 auto;  color: #888888; justify-content: space-between; }
.miniContainer { width: 1200px; margin: 0 auto;  color: #888888; justify-content: space-between; }
.topFooter { font-size: 17px; border-bottom: 1px solid #555555; } 
.familySite { padding: 20px 10px 20px 20px; border-right: 1px solid #555555; border-left: 1px solid #555555; width: 170px;}
.privacy { padding: 20px 20px 20px 20px; border-right: 1px solid #555555; border-left: 1px solid #555555; color:#FF7311; font-weight: 600;}
.bottomFooter { padding: 45px 0px;}
.companyIntro { display: flex; justify-content: space-between; width: 100%; margin-bottom: 30px;}
.companyName { font-size: 25px; color:#888888; font-weight: 400;}
.download { background-color: #555555; color:#afafaf; padding: 15px;}
.company {width: 950px; display: flex; font-size: 15px; justify-content: space-between; margin-bottom: 15px;}
.company li::before { content:"｜"}
.company li:first-child::before { content:"";}
